.taskItem {
  border: 1px solid #999;
  border-radius: 4px;
  margin: 0 0 20px;
  padding: 20px 10px 20px 26px;
  display: flex;
}

.taskItem__text {
  color: #fff;
  margin-right: 10px;
  max-width: 100%;
  min-width: 150px;
  height: 100%;
  flex-grow: 1;

  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .taskItem__text {
    margin-right: 10px;
    font-size: 16px;
  }
}

.taskItem__text_past {
  color: red;
}

.taskItem__date {
  border: none;
  border-radius: 4px;
  padding-left: 5px;
  margin-right: 10px;
  min-width: 136px;
  max-width: 136px;
  height: 28px;
  font-size: 15px;
  font-weight: 600;
}

.taskItem__date_past {
  color: red;
}

.taskItem__remove {
  border: none;
  padding: 0;
  min-width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  background: url(../../images/close-icon-s.svg) no-repeat center;
  opacity: 1;
}

.taskItem__remove:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .taskItem__text {
    margin-right: 10px;
  }
}
