.header {
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

.header__title {
  border-bottom: 2px solid #999;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
