.footer {
  border-top: 2px solid #999;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

.footer__removeItems {
  border: 1px solid #999;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 0;
  margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  opacity: 1;
}

.footer__removeItems:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.footer__goBack {
  color: #fff;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
