.page {
  min-width: 280px;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Inter", Arial, sans-serif;
}

@media (max-width: 768px) {
  .page {
    padding: 0 10px;
  }
}

.goTo {
  color: red;
}
